# GoEuroTest configuration file
# 2015-07-06 11:35

# Enable/disable application.
app.enabled=true

# GoEuro endpoint.
api.endpoint=http://api.goeuro.com/api/v2/position/suggest/en/

# Number of retries to access endpoint API.
api.retrycount=3

# Append/overwrite entries in the existing output file. Default: false
output.append=false

# Name of the output CSV file.
output.filename=output.csv

# Delimiter to use between columns in the CSV file.
output.delimiter=,

# Platform-specific newline symbol.
output.newline=\n

# Names of headers to write into the CSV file. (can be combined into one line)
header.id=ID
header.name=NAME
header.type=TYPE
header.latitude=LATITUDE
header.longitude=LONGITUDE